<%- include('includes/head.ejs') %>

    <h1>Projects</h1>

    <%- include('includes/project-nav.ejs') %>

    <h3>List projects</h3>

    <div class="wrapper">
        <% if (projects.length > 0) { %>
            <div class="project-container-list">
                <% for (let project of projects) { %>
                    <a href="/project/<%= project._id %>">
                        <div style="cursor: pointer" class="project-container">
                            
                              <div class="card w-75">
                                <div class="card-body">
                                  <h5 class="card-title"><%= project.name %></h5>
                                  <p class="card-text"><%= project.description %></p>
                                </div>
                            </div>
                        </div>
                    </a>
                <% } %>
            </div>
        <% } else { %>
            <h1>No projects found.</h1>
        <% } %>
    </div>

    <script>

    </script>

<%- include('includes/end.ejs') %>